<div>
    <h2>BEST TEEMO RUNES FOR TWITCH VIEWERS</h2>
    <button (click)="editable('editRunes')" class="btn-edit-mode">EDIT</button>
    <div class="flex-runes-container">
        <app-runes [ngClass]="editRunes ? 'edit-runes': ''"></app-runes>
        <app-secondary-runes [ngClass]="editRunes ? 'edit-runes': ''"></app-secondary-runes>
    </div>
    <div class="comment-divider"></div>
    <button *ngIf="!editComment" (click)="editable('editComment')" class="btn-edit-mode">EDIT</button>
    <div class="description">
            <h3>COMMENT ON RUNES CHOICE</h3>
        <div *ngIf="editComment; else view" class="buttons">
            <input type="text" [(ngModel)]="inputValue" placeholder="Add a comment...">
            <div class="comment-buttons">
                <button (click)="saveText()" class="btn-save">comment</button>
                <button (click)="editable('editComment')" class="btn-delete">cancel</button>
            </div>
        </div>
    </div>
</div>
<ng-template #view>
    <div class="comment-view">
        <p>{{textValue}}</p>
    </div>    
</ng-template>