.main-wrapper {
    min-height: 700px;
}
h2 {
    padding: 8px;
    margin-bottom: 15px;
    font-family: 'Bitter', serif;
    text-align: center;
    color: rgb(64, 177, 197);
}
.flex-runes-container {
    display: flex;
    justify-content: center;
}
app-runes {
    margin-right: 40px;
}