<div class="runes-wrapper">
  <nav>
    <li class="branch"
        *ngFor="let rune of runes; let i = index"
        [ngClass]="{'active': rune.branch === activeBranch}">
      <img (click)="selectBranch('branch', i)" src="../../../assets/{{rune.branch}}.png" 
      alt="{{rune.branch}}">
    </li>
  </nav>
  <div class="branch-container">
    <div class="loop-runes" *ngFor="let row of runePage.main; let rowIndex = index">
      <div class="row-flex" [ngClass]="{'flex-adjust':row.length === 4}">
        <div  *ngFor="let rune of row; let index = index">
          <img (click)="selectBranch('casual', index, rowIndex)" src="../../../assets/secondary/{{rune}}.png"
               [ngStyle]="{'filter': tree.secondaryList[rowIndex]  !== undefined &&  index !== tree.secondaryList[rowIndex] ? 'grayscale(100%)' : '' }"
               alt="{{rune}}" >
        </div>
      </div>
    </div>
  </div>
  <div class="loop-runes" *ngFor="let row of stats; let rowIndex = index">
    <div class="row-flex" [ngClass]="{'flex-adjust':row.length === 4}">
      <div class="stat-circle" (click)="selectBranch('stats', index, rowIndex)" *ngFor="let stat of row; let index = index">
        <img  [ngStyle]="{'filter': tree.secondaryList[rowIndex + 3]  !== undefined &&  index !== tree.secondaryList[rowIndex + 3] ? 'grayscale(100%)' : '' }"
               src="../../../assets/stats/{{stat}}.png" alt="{stat}}" >
      </div>
    </div>
  </div>
</div>