<div class="runes-wrapper">
  <nav>
    <li class="branch"
        *ngFor="let rune of runes; let i = index"
        [ngClass]="{'active': rune.branch === tree.branch}">
      <img (click)="selectBranch('branch', i)" src="../../../assets/{{rune.branch}}.png" alt="{{rune.branch}}">
    </li>
  </nav>
  <div class="branch-container">
    <div class="keystones-flex">
      <div   *ngFor="let keystone of runePage.keystones; let i = index">
        <div [ngClass]="tree.mainList[0]  !== undefined &&  i !== tree.mainList[0]? 'rune-faded' : ''" 
             class="keystone circle" (mouseover)="hovered = i" (mouseout)="hovered = -1">
            <img (click)="selectBranch('keystone', i)" 
                 class="keystone-image"  
                 src="../../../assets/keystone/{{keystone}}.png" 
                 alt="{{keystone}}" >
        </div>
      </div>
    </div>
      <div class="loop-runes" *ngFor="let row of runePage.main; let index = index">
          <hr/>
        <div class="row-flex">
          <div  *ngFor="let rune of row; let i = index">
            <button (click)="selectBranch('casual', i, index)">
              <img src="../../../assets/secondary/{{row[i]}}.png"
                   [ngClass]="tree.mainList[index + 1] !== undefined && i !== tree.mainList[index + 1]? 'rune-faded' : ''"
                    alt="{{row[i]}}" >
            </button>        
          </div>
        </div>
      </div>
  </div>
</div>